<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Bands</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <h1>DjentJam</h1>
        <a href="/home">Home</a>
        <a href="/bands">Find a band</a>
        <a href="/musicians">Find a muscian</a>
        <a href="/login">Login</a>
    </div>
    <h1 style="text-align: center; margin: 50px;">Sign in or create an account to post</h1>
    <div id="musician-table">
        <table class="table table-bordered table-dark">
            <tr>
                <th>Band Name</th>
                <th>Genre</th>
                <th>Looking For</th>
                <th>Band Influences</th>
                <th>Band Members</th>
                <th>Contact Info</th>
                <th>Date/Time Posted</th>
            </tr>
            {% for band in bands %}
            <tr>
                <td>{{band.band_name}}</td>
                <td>{{band.genre}}</td>
                <td>{{band.looking_for}}</td>
                <td>{{band.influences}}</td>
                <td>{{band.members}}</td>
                <td>{{band.contact_info}}</td>
                <td>{{band.created_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>