<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/blog">Blog</a>
        <a href="/gig_wall">Gig Wall</a>
        <a href="/logout">Logout</a>
    </header>
    <main>
        <img id="dj" src="{% static '/images/dj.png' %}" alt="Dj logo" width="75px" height="75px">
    <div class="post">
    <form action="/edit_post_success/{{wall_message.id}}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h2 style="margin-bottom: 25px;">Edit Your Post</h2>
            <textarea style="margin-bottom: 25px;" class="form-control" rows="5" cols="40" name="message" id="message">{{wall_message.message}}</textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Edit">
    </form>
    </div>
    </main>
    <footer class="footer">
        <p>Copywright @2020 | All rights reserved | Powered by Django 2.2</p>
    </footer>
</body>
</html>