<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Musicians</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <h1>DjentJam</h1>
        <a href="/home">Home</a>
        <a href="/bands">Find a band</a>
        <a href="/musicians">Find a muscian</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </div>
    <h2 style="text-align: center; margin: 50px;">Post yourself or scroll down to see a table of Musicians!</h2>
    <div class="post-entity">
        <h3>Post yourself as a musician</h3>
        <form action="/create_musician" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="instruments_played">Instruments Played</label>
                <input type="text" name="instruments_played" id="instruments_played" class="form-control"
                    placeholder="Instruments Played">
            </div>
            <div class="form-group">
                <label for="preferred_genres">Preferred Genres</label>
                <input type="text" name="preferred_genres" id="preferred_genres" class="form-control"
                    placeholder="Genres">
            </div>
            <div class="form-gorup">
                <label for="gear">Gear</label>
                <input type="text" id="gear" name="gear" class="form-control" placeholder="Gear">
            </div>
            <div class="form-group">
                <label for="contact_info">Contact Info</label>
                <input type="text" name="contact_info" id="contact_info" class="form-control"
                    placeholder="Contact Info">
            </div>
            <input id="java-create" type="submit" value="Create" class="btn"
                style="background-color: rgb(0, 255, 0); margin-top: 25px;">
            <input id="java-reset" type="reset" class="btn"
                style="background-color: orange; margin-top: 25px; margin-left: 390px;">
        </form>
    </div>
    <div id="musician-table">
        <table class="table table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Instruments Played</th>
                <th>Preferred Genres</th>
                <th>Gear</th>
                <th>Contact Info</th>
                <th>Actions</th>
            </tr>
            {% for musician in musicians %}
            <tr>
                <td>{{musician.first_name}}</td>
                <td>{{musician.last_name}}</td>
                <td>{{musician.instruments_played}}</td>
                <td>{{musician.preferred_genres}}</td>
                <td>{{musician.gear}}</td>
                <td>{{musician.contact_info}}</td>
                <td><a id="java-delete" href="/delete_musician/{{musician.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>



</body>

</html>