body {
    font-family: 'Orbitron', sans-serif;
    background-color: darkslategrey;
}

.navbar {
    display: flex;
    justify-self: space-evenly;
    padding: 30px;
    background: radial-gradient(rgb(109, 109, 109), rgb(46, 46, 46))
}

.navbar a {
    font-size: large;
}

h1, h2, h3, h4, h5, h6, p, a, label, td, th, table {
    word-wrap: break-word;
    color: orange;
}

.form {
    width: 25%;
    padding: 25px;
    margin-left: 37.5%;
    background: radial-gradient(rgb(109, 109, 109), rgb(46, 46, 46));
    border-radius: 5px;
}

.wall-form {
    width: 50%;
    padding: 25px;
    margin-left: 25%;
    background: radial-gradient(rgb(109, 109, 109), rgb(46, 46, 46));
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall-post {
    
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    padding: 25px;
    width: 75%;
}

.profile {
    margin-top: 50px;
    background: radial-gradient(darkgrey, black);
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    padding: 50px;
}


.post-entity {
    margin-top: 50px;
    background: radial-gradient(darkgrey, black);
    width: 35%;
    margin-left: 32.5%;
    border-radius: 5px;
    padding: 50px;
}

#musician-table {
    margin-top: 50px;
}

label {
    margin-top: 15px;
    margin-bottom: 15px;
}

.name-link {
    text-decoration: underline;
    color: lightskyblue;
}
